    <div class="card-body " style="padding-left: 15%;padding-right: 15%;padding-top:2%;">
        

        <div class="card-body "
            style="border-radius: 20px;background-color: rgb(255, 255, 255);box-shadow: 0 30px 50px rgba(0,0,0,.2);">
            <!-- <h2 style="text-align: center; font-weight: bold;">Form for new product request</h2> -->
            <br>

            <fieldset>
                <button class="btn btn-secondary header">Part 4: Test Confirmation</button>
             
                    <fieldset class="card-body">
                        <fieldset disabled>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <span>Person in charge</span>
                                    <br>
                                    <input type="text" name="Person"
                                    class="form-control form-control-sm" value="<%= data_partone.Person%>">

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">

                                    <span>Processing Time</span>
                                    <br>
                                    <input type="text" name="d_time"
                                    class="form-control form-control-sm" value="<%= data_partone.d_time%>">
                                </div>
                            </div>
                           
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input hidden id="testresult" value="<%= data_partone.test_four %>">
                                    <span>Test Result</span>
                                    <br>
                                    <input id="pass" type="radio" name="test" value="Pass"> Pass
                                    <br>
                                    <input id="notpass" type="radio" name="test" value="Not Pass"> Not Pass <input type="text" name="why" style="border-radius: 10px; "
                                    placeholder="Why" class="form-control form-control-sm">
                                </div>
                            </div>

                            
                       
                            </fieldset >
                            <fieldset>
                                <% if( data_partone.partfour_img  == "") {%> 
                                    <div>
                                        <span>NO IMG</span>
                                    </div>
                                  
                              <% }else{ %> 
                              <span>IMG</span>
                              <br>
                              <img style="width: 50%;height: 10%;" src="/assets/file_partfour/<%= data_partone.partfour_img %>"> 
                              <% } %> 
                      
                              <% if( data_partone.partfour_pdf  == "") {%> 
                                <div>
                                    <span>NO PDF file</span>
                                </div>
                              <% }else{ %>     
                                  <div>
                                      <br>                                    
                             <a href="/download_pdf_four/<%= data_partone.partfour_pdf %> "><button type="button" style="border-radius: 10px;"class="btn btn-danger" >Dowload PDF file</button></a> 
                                  </div>
                              
                              <% } %> 
                            </fieldset>
                            <hr>
                            <% if(data_partone.status_all_sig == "") { %> 
                            <fieldset id="set_sig_mg">
                            <span>Requestor Manager Checked</span>

                            <form action="/post_sig_partfour_mg" method="POST" enctype="multipart/form-data">
                                <input  hidden name="partfour_id" value="<%= data_partone.partfour_id %>">
                                <input  hidden name="request_id" value="<%= data_partone.request_id %>"> 
                            <p>Status</p>
                            <div class="col-md-6">
                                <div class="form-group">
                                   
                                    <input checked type="radio" name="status_r" value="Pending review"> Pending review
                                   
                                    <input type="radio" name="status_r" value="Approve"> Approve

                                    <input type="radio" name="status_r" value="Disapproved"> Disapproved
                                   
                                    
                                </div>
                            </div>

                            <div class="wrapper">
                                <canvas id="signature-pad4" name="canvas" class="signature-pad"></canvas>
                            </div>
                            <input hidden type="text" id="demo4" name="sig_four_mg" value="">
                            <div>
                                <br>
                                <button type="button" style="border-radius: 20px;width: 20%;"
                                    class="btn btn-secondary" id="clear4">Clear</button>
                                <br>
                                <span>Comment</span>
                                    <div style="padding-left: 1%;" class="row">
                                    <input type="text" name="comment_mg" style="width: 80%; padding: 2%; border-radius: 10px;"
                                    class="form-control form-control-sm" >
                                    </div>    
                                <br>
                                <button type="submit" style="border-radius: 20px;width: 20%;"
                                    class="btn btn-primary" id="save-jpeg4">ตกลง</button>
                                    
                            </div>
                        </form>
                        </fieldset>

                        <% }else if (data_partone.status_all_sig == "mg_sig_success"){  %>

                        <fieldset id="set_sig_pu">


                            <fieldset>
                            <span>Requestor Manager Checked</span>
                            <br>
                            <span>Status : <%= data_partone.status_mg %></span>
                            <br>
                            <img style="width: 70%;" src="<%= data_partone.sigpart_mg %>" />
                            <br>
                            <br>
                            <div>
                                <span>Comment</span>
                                    <div style="padding-left: 1%;" class="row">
                                    <input disabled type="text" name="comment_mg" style="width: 80%; padding: 2%; border-radius: 10px;"
                                    class="form-control form-control-sm"  value="<%= data_partone.comment_four %>">
                                    </div>    
                                <br>
                            </div>
                          </fieldset>


                            <hr>
                            <span> <br>Procurement Manager Checked</span>
                            <p>Status</p>
                            <div class="col-md-6">
                            <form action="/post_sig_partfour_pu" method="POST" enctype="multipart/form-data">                      
                                <input  hidden name="partfour_id" value="<%= data_partone.partfour_id %>">
                                <input  hidden name="request_id" value="<%= data_partone.request_id %>"> 
                                <div class="form-group">
                        
                                    <input checked type="radio" name="status_m" value="Pending review"> Pending review
                                   
                                    <input type="radio" name="status_m" value="Approve"> Approve

                                    <input type="radio" name="status_m" value="Disapproved"> Disapproved
                                   
                                
                                </div>
                            </div>

                            <div class="wrapper">
                                <canvas id="signature-pad5" name="canvas" class="signature-pad"></canvas>
                            </div>
                            <input hidden type="text" id="demo5" name="sig_four_pu" value="">
                            <div>
                                <br>
                                <button type="button" style="border-radius: 20px;width: 20%;"
                                    class="btn btn-secondary" id="clear5">Clear</button>
                                <br>
                                <br>

                                <button type="submit" style="border-radius: 20px;width: 20%;"
                                    class="btn btn-primary" id="save-jpeg5">ตกลง</button>
                            </div>
                        </form>
                        </fieldset>

                        <% }else if (data_partone.status_all_sig == "pu_sig_success"){ %>
                            <fieldset id="set_sig_pu">


                                <fieldset>
                                <span>Requestor Manager Checked</span>
                                <br>
                                <span>Status : <%= data_partone.status_mg %></span>
                                <br>
                                <img style="width: 70%;" src="<%= data_partone.sigpart_mg %>" />
                                <br>
                                <br>
                                <div>
                                    <span>Comment</span>
                                        <div style="padding-left: 1%;" class="row">
                                        <input disabled type="text" name="comment_mg" style="width: 80%; padding: 2%; border-radius: 10px;"
                                        class="form-control form-control-sm"  value="<%= data_partone.comment_four %>">
                                        </div>    
                                    <br>
                                </div>
                              </fieldset>
                              <hr>
                              <fieldset id="set_sig_pu">


                                <fieldset>
                                <span>Procurement Manager Checked</span>
                                <br>
                                <span>Status : <%= data_partone.status_pu %></span>
                                <br>
                                <img style="width: 70%;" src="<%= data_partone.sigpart_pu %>" />
                                <br>
                                <br>
                               
                              </fieldset>

                              <hr>
                        <fieldset  id="set_sig_dr">
                            <span> <br>Procurement Director Checked</span>
                            <p>Status</p>
                            <div class="col-md-6">
                            <form action="/post_sig_partfour_dr" method="POST" enctype="multipart/form-data">                      
                                <input  hidden name="partfour_id" value="<%= data_partone.partfour_id %>">
                                <input  hidden name="request_id" value="<%= data_partone.request_id %>"> 
                                <div class="form-group">
                        
                                    <input checked type="radio" name="status_dr" value="Pending review"> Pending review
                                   
                                    <input type="radio" name="status_dr" value="Approve"> Approve

                                    <input type="radio" name="status_dr" value="Disapproved"> Disapproved
                                   
                                
                                </div>
                            </div>

                            <div class="wrapper">
                                <canvas id="signature-pad5" name="canvas" class="signature-pad"></canvas>
                            </div>
                            <input hidden type="text" id="demo5" name="sig_four_dr" value="">
                            <div>
                                <br>
                                <button type="button" style="border-radius: 20px;width: 20%;"
                                    class="btn btn-secondary" id="clear5">Clear</button>
                                <br>
                                <br>

                                <button type="submit" style="border-radius: 20px;width: 20%;"
                                    class="btn btn-primary" id="save-jpeg5">ตกลง</button>
                            </div>
                        </form>
                        </fieldset>

                        <% } else if ((data_partone.status_all_sig == "dr_sig_success")){%> 
                            <fieldset id="set_sig_pu">


                                <fieldset>
                                <span>Requestor Manager Checked</span>
                                <br>
                                <span>Status : <%= data_partone.status_mg %></span>
                                <br>
                                <img style="width: 70%;" src="<%= data_partone.sigpart_mg %>" />
                                <br>
                                <br>
                                <div>
                                    <span>Comment</span>
                                        <div style="padding-left: 1%;" class="row">
                                        <input disabled type="text" name="comment_mg" style="width: 80%; padding: 2%; border-radius: 10px;"
                                        class="form-control form-control-sm"  value="<%= data_partone.comment_four %>">
                                        </div>    
                                    <br>
                                </div>
                              </fieldset>
                              <hr>
                              <fieldset id="set_sig_pu">


                                <fieldset>
                                <span>Procurement Manager Checked</span>
                                <br>
                                <span>Status : <%= data_partone.status_pu %></span>
                                <br>
                                <img style="width: 70%;" src="<%= data_partone.sigpart_pu %>" />
                                <br>
                                <br>
                               
                              </fieldset>

                              <hr>

                              <fieldset id="set_sig_pu">


                                <fieldset>
                                <span>Procurement Director Checked</span>
                                <br>
                                <span>Status : <%= data_partone.status_dr %></span>
                                <br>
                                <img style="width: 70%;" src="<%= data_partone.sigpart_dr %>" />
                                <br>
                                <br>
                               
                              </fieldset>
                              
                        <% } %>
                        <hr>



                        <!-- ======================================================= -->

                      
                    </fieldset>
              
            </fieldset>
            <br>
        </div>

    </div>

<script type="text/javascript">
    var canvas4 = document.getElementById('signature-pad4');

    // Adjust canvas coordinate space taking into account pixel ratio,
    // to make it look crisp on mobile devices.
    // This also causes canvas to be cleared.
    function resizeCanvas() {
        // When zoomed out to less than 100%, for some very strange reason,
        // some browsers report devicePixelRatio as less than 1
        // and only part of the canvas is cleared then.
        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas4.width = canvas4.offsetWidth * ratio;
        canvas4.height = canvas4.offsetHeight * ratio;
        canvas4.getContext("2d").scale(ratio, ratio);

    }

    window.onresize = resizeCanvas;
    resizeCanvas();

    var signaturePad4 = new SignaturePad(canvas4, {
        backgroundColor: 'rgb(255, 255, 255)' // necessary for saving image as JPEG; can be removed is only saving as PNG or SVG
    });
    document.getElementById('save-jpeg4').addEventListener('click', function () {
        if (signaturePad4.isEmpty()) {
            document.getElementById('demo4').value = "";
        } else {
            var canvas4 = document.getElementById("signature-pad4");
            var dataURL4 = canvas4.toDataURL();

            document.getElementById('demo4').value = dataURL4;
            x.innerText = dataURL4;

            window.alert("sometext");
        }
    });
    document.getElementById('clear4').addEventListener('click', function () {
        signaturePad4.clear();
    });
</script>

//
<script type="text/javascript">
    var canvas5 = document.getElementById('signature-pad5');

    // Adjust canvas coordinate space taking into account pixel ratio,
    // to make it look crisp on mobile devices.
    // This also causes canvas to be cleared.
    function resizeCanvas() {
        // When zoomed out to less than 100%, for some very strange reason,
        // some browsers report devicePixelRatio as less than 1
        // and only part of the canvas is cleared then.
        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas5.width = canvas5.offsetWidth * ratio;
        canvas5.height = canvas5.offsetHeight * ratio;
        canvas5.getContext("2d").scale(ratio, ratio);

    }

    window.onresize = resizeCanvas;
    resizeCanvas();

    var signaturePad5 = new SignaturePad(canvas5, {
        backgroundColor: 'rgb(255, 255, 255)' // necessary for saving image as JPEG; can be removed is only saving as PNG or SVG
    });
    document.getElementById('save-jpeg5').addEventListener('click', function () {
        if (signaturePad5.isEmpty()) {
            document.getElementById('demo5').value = "";
        } else {
            var canvas5 = document.getElementById("signature-pad5");
            var dataURL5 = canvas5.toDataURL();

            document.getElementById('demo5').value = dataURL5;
            x.innerText = dataURL5;

            window.alert("sometext");
        }
    });
    document.getElementById('clear5').addEventListener('click', function () {
        signaturePad5.clear();
    });
</script>

<script type="text/javascript">
    var canvas6 = document.getElementById('signature-pad6');

    // Adjust canvas coordinate space taking into account pixel ratio,
    // to make it look crisp on mobile devices.
    // This also causes canvas to be cleared.
    function resizeCanvas() {
        // When zoomed out to less than 100%, for some very strange reason,
        // some browsers report devicePixelRatio as less than 1
        // and only part of the canvas is cleared then.
        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas6.width = canvas6.offsetWidth * ratio;
        canvas6.height = canvas6.offsetHeight * ratio;
        canvas6.getContext("2d").scale(ratio, ratio);

    }

    window.onresize = resizeCanvas;
    resizeCanvas();

    var signaturePad6 = new SignaturePad(canvas6, {
        backgroundColor: 'rgb(255, 255, 255)' // necessary for saving image as JPEG; can be removed is only saving as PNG or SVG
    });
    document.getElementById('save-jpeg6').addEventListener('click', function () {
        if (signaturePad6.isEmpty()) {
            document.getElementById('demo6').value = "";
        } else {
            var canvas6 = document.getElementById("signature-pad6");
            var dataURL6 = canvas6.toDataURL();

            document.getElementById('demo6').value = dataURL6;
            x.innerText = dataURL6;

            window.alert("sometext");
        }
    });
    document.getElementById('clear6').addEventListener('click', function () {
        signaturePad6.clear();
    });
</script>